<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files" minFileSizeForComp="1024">
            <scheme dll="%Windir%\system32\inetsrv\gzip.dll" name="gzip" />
            <staticTypes>
                <add enabled="true" mimeType="text/*" />
                <add enabled="true" mimeType="message/*" />
                <add enabled="true" mimeType="application/javascript" />
                <add enabled="true" mimeType="application/json" />
                <add enabled="false" mimeType="*/*" />
            </staticTypes>
        </httpCompression>
        <httpErrors errorMode="Custom" existingResponse="PassThrough">
            <remove statusCode="404" subStatusCode="-1"/>
            <error path="default.asp" responseMode="ExecuteURL" statusCode="404" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1"/>
            <error path="default.asp" responseMode="ExecuteURL" statusCode="500" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1"/>
            <error path="default.asp" responseMode="ExecuteURL" statusCode="403" subStatusCode="-1" />
        </httpErrors>
        <urlCompression doDynamicCompression="false" doStaticCompression="true" />
        <staticContent>
            <mimeMap fileExtension=".iso" mimeType="text/plain" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="cgi-rbcatalogo" path="*.exe" verb="*" modules="CgiModule" scriptProcessor="C:\inetpub\wwwroot\rbcatalogo\cgi\www.exe" resourceType="File" requireAccess="Script" />
        </handlers>
        <httpProtocol>
            <customHeaders>
                <add name="X-UA-Compatible" value="IE=edge" />
            </customHeaders>
        </httpProtocol>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="default.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <customErrors mode="RemoteOnly" defaultRedirect="default.asp" />
    </system.web>
</configuration>
